<% include template/header %>

<section class="page-header benefits">
	<div class="title">
		<h1>Benefits</h1>
		<div class="border-bottom-text"><div/>
	</div>
</section>
<section class="benefits-content">
	<div class="container">
		<div class="row top">
			<div class="col-12 col-md-12">
				<h2><%- localization[lang].benefits.title -%></h2>
				<div class="border-bottom-left-text"></div>
			</div>

			<div class="col-12 col-md-12">
				<p>
					<%- localization[lang].benefits.content_1 -%>
				</p>
				<p>
					<%- localization[lang].benefits.content_2 -%>
				</p>
			</div>
		</div>

		<div class="row bottom mt-50">
			<div class="col-12 col-md-4 benefit-list mt-40">
				<img src="<%- assetsUrl -%>/icons/Benefits_icon_1.png"/>
				<p class="title">
					<%- localization[lang].benefits.content_3 -%>
				</p>
				<p>
					<%- localization[lang].benefits.content_4 -%>
				</p>
			</div>
			<div class="col-12 col-md-4 benefit-list mt-40">
				<img src="<%- assetsUrl -%>/icons/Benefits_icon_2.png"/>
				<p class="title">
					<%- localization[lang].benefits.content_5 -%>
				</p>
				<p> 
					<%- localization[lang].benefits.content_6 -%>
				</p>
			</div>
			<div class="col-12 col-md-4 benefit-list mt-40">
				<img src="<%- assetsUrl -%>/icons/Benefits_icon_3.png"/>
				<p class="title">
					<%- localization[lang].benefits.content_7 -%>
				</p>
				<p>
					<%- localization[lang].benefits.content_8 -%>
				</p>
				<p>
					<%- localization[lang].benefits.content_9 -%>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="benefits-content bg-gray">
	<div class="container">
		<div class="row top">
			<div class="col-9 col-md-12">
				<h2><%- localization[lang].benefits.content_10 -%></h2>
				<div class="border-bottom-left-text"></div>
			</div>

			<div class="col-12 col-md-9">
				<p>
					<%- localization[lang].benefits.content_11 -%>
				</p>
			</div>
		</div>

		<div class="row bottom">
			<div class="col-12 col-md-4 benefit-list mt-40">
				<img src="<%- assetsUrl -%>/icons/Benefits_icon_4.png"/>
				<p class="title">
					<%- localization[lang].benefits.content_12 -%>
				</p>
				<p>
					<%- localization[lang].benefits.content_13 -%>
				</p>
			</div>
			<div class="col-12 col-md-4 benefit-list mt-40">
				<img src="<%- assetsUrl -%>/icons/Benefits_icon_5.png"/>
				<p class="title">
					<%- localization[lang].benefits.content_14 -%>
				</p>
				<p> 
					<%- localization[lang].benefits.content_15 -%>
				</p>
				<div class="col-md-12 social">
					<div class="col-1 col-md-1 icon mt-3">
						<span class="icon-instagram"></span>
					</div>
					<div class="col-10 col-md-10 followers">
						<a href="">@thebridestory</a> 582K, <a href="">@thewedlist</a> 808K, <a href="">@thebridebestfriend</a> 297K, <br/><a href="">@weddingdream</a> 1.2M
					</div>
				</div>
				<div class="col-12 col-md-12 social">
					<div class="col-1 col-md-1 icon">
						<span class="icon-facebook"></span>
					</div>
					<div class="col-10 col-10 col-md-10 followers">
						<a href="">thebridestory</a> 406K
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 benefit-list mt-40">
				<img src="<%- assetsUrl -%>/icons/Benefits_icon_6.png"/>
				<p class="title">
					Large User Base
				</p>
				<p>
					Be found by millions of engaged couples who use Bridestory every year from 170+ countries.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="benefits-content">
	<div class="container">
		<div class="row top">
			<div class="col-12 col-md-12">
				<h2>Interact real time with potential clients</h2>
				<div class="border-bottom-left-text"></div>
			</div>

			<div class="col-12 col-md-10">
				<p>
					See your business grow everyday, everywhere.
				</p>
			</div>
		</div>

		<div class="row bottom">
			<div class="col-12 col-md-4 benefit-list mt-40">
				<img src="<%- assetsUrl -%>/icons/Benefits_icon_7.png"/>
				<p class="title">
					Interactive
				</p>
				<p>
					Your experience is valuable. We continuously optimize our platform so both vendors and brides-to-be can seamlessly connect anytime, anywhere.
				</p>
			</div>
			<div class="col-12 col-md-4 benefit-list mt-40">
				<img src="<%- assetsUrl -%>/icons/Benefits_icon_8.png"/>
				<p class="title">
					Immediate Results
				</p>
				<p> 
					Monitor your business performance around the clock with real time statistics, and respond to business inquiries immediately with our messaging feature.
				</p>
			</div>
			<div class="col-12 col-md-4 benefit-list mt-40">
				<img src="<%- assetsUrl -%>/icons/Benefits_icon_9.png"/>
				<p class="title">
					Bridestory On-The-Go
				</p>
				<p>
					Use our Bridestory Pro app to manage your business anytime, anywhere. Get it for free from <a href="">App Store</a> or <a href="">Google Play</a>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="benefit-footer">
	<div class="title">
		<h2>Want to grow your business with us? Create your FREE business profile now!</h2>
		<div class="border-bottom-text"></div>
		<div class="button">
			<a href="">Start Free Trial</a>
		</div>
	</div>
</section>

<% include template/footer %>
