<% include template/header %>
    <section class="jumbotron">
        <div class="row justify-content-end">
            <div class="col-lg-8 col-md-6 col-xs-12">
                <h1>
                    The Right Place To Grow Your <br> Wedding Business
                </h1>
                <span class="border-pink m-top30 m-btm30"></span>
                <p class="l-h28 f-w400">Join more than 20,000 wedding vendors from 70 countries who have <br> connected with millions of engaged couples
                    through Bridestory.</p>
            </div>   
            <div class="col-lg-4 col-md-6 col-xs-12">
                <form action="#">
                    <h2 class="">Create Your Free Business Profile!</h2>
                    <span>Fill in the details below :</span>
                    <div class="form-group ">
                        <select class="form-control m-top20">
                            <%dataCategories.forEach((categories)=>{ %>
                                <option value="<%= categories %>"><%= categories.name %></option>
                            <%}) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="businessName" type="text" class="form-control stored" name="businessName" placeholder="Business Name">
                    </div>

                    <div class="form-group">
                        <input id="email" type="text" class="form-control stored" name="email" placeholder="Email Address">
                    </div>

                    <div class="form-group">
                        <input id="password" type="password" class="form-control stored" name="password" placeholder="Password">
                        <!-- <small id="emailHelp" class="form-text text-muted">Please fill your password</small> -->
                    </div>
                    <a onClick="save()" class="btn btn-primary block white f-w700">Start Free Trial</a>
                    <span class="block mt-20 info-login">By clicking “Start Free Trial”, you agree to our <a href="<%- baseUrl -%>/terms-conditions">Terms & Conditions</a></span>

                    <span class="f-w700 block mt-20 info-login">Have an account? <a  class="login" href="https://business.bridestory.com/login">Login to your dashboard</a></span>
                </form>
            </div>
        </div>

        <a href="#benefits" class="text-center mt-20 mb-20 f-w700 pagelink" style="display:block;">Why join Bridestory?</a> 
    </section>

    <!-- displayed only on mobile screen -->
    <section class="home-regis">
        <div class="container">
            <div class="col-12">
                <form action="#">
                    <h2 class="">Create Your Free Business Profile!</h2>
                    <span>Fill in the details below :</span>
                    <div class="form-group ">
                        <select name="businesscategory" class="form-control m-top20" id="exampleSelect1">
                            <%dataCategories.forEach((categories)=>{ %>
                                <option value="<%= categories %>"><%= categories.name %></option>
                            <%}) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="businessname" required class="form-control" name="businessName" placeholder="Business Name">
                    </div>
    
                    <div class="form-group">
                        <input type="email" name="vendoremail" required class="form-control" name="emailHelp" placeholder="Email Address">
                    </div>
    
                    <div class="form-group">
                        <input type="password" name="password" required class="form-control" name"passwordHelp" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Start Free Trial</button>
                    <span>By clicking “Start Free Trial”, you agree to our <a href="<%- baseUrl -%>/terms-conditions">Terms & Conditions</a></span>
                    <br><br>
                    <span class="f-w700">Have an account? <a  class="login" href="https://business.bridestory.com/login">Login to your dashboard</a></span>
                    <a href="#benefits"  class="text-center mt-20 mb-20 f-w700 pagelink" style="display:block;">Why join Bridestory?</a> 
                </form>
            </div>
        </div>
    </section>
    <!-- -->

    <section id="benefits" class="home-benefits bg-white">
     
        <div class="container">
            <div class="row">
                <div class="col-12 pt-40 switch-mobile">
                    <img class="img-responsive" src="assets/icons/Landing_Page_Icon_1.png" alt="Instantly build an online presence">
                </div>
                <div class="col-lg-6 col-12 text">
                    <h2>Instantly build an <br> online presence</h2>
                    <span class="border-pink"></span>
                    <p>Be discovered by more than 500,000 brides-to-be / month <br>
                    by setting up your business profile on Bridestory!</p>
                    <a href="<%= menuUrl + menu[1].url %>#online_presence" class="btn btn-primary">
                        Learn More
                    </a>
                </div>
                <div class="col-lg-6 col-12 img switch-desktop">
                    <img class="img-responsive" src="assets/icons/Landing_Page_Icon_1.png" alt="Instantly build an online presence">
                </div>
            </div>
        </div>

        <div class="cover-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12 img">
                        <img class="img-responsive" src="assets/icons/Landing_Page_Icon_2.png" alt="Provide your clients with various <br> payment options">
                    </div>
        
                    <div class="col-lg-6 col-12 text">
                        <h2>Provide your clients with various <br> payment options</h2>
                        <span class="border-pink"></span>
                        <p>Bridestory Pay       is a wedding payment solution that will provide many benefits, including:</p>
                        <ul>
                            <li><strong>0% installment</strong> up to 24 months from 15 banks for your clients</li>
                            <li><strong>FREE Wedding Cancellation Protection</strong> for your clients</li>
                            <li><strong>Earn Points</strong> for every transactions and redeem to get <br> Bridestory Product and Services for FREE!</li>
                        </ul>
                        <a href="<%= menuUrl + menu[1].url %>#online_presence" class="btn btn-primary">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 img">
                    <img class="img-responsive" src="assets/icons/Landing_Page_Icon_3.png" alt="IExpand your business easily">
                </div>
    
                <div class="col-lg-6 col-12 text">
                    <h2>Expand your business <br> easily</h2>
                    <span class="border-pink"></span>
                    <p>We let you focus on your great work and leave the marketing  to us. Our platform generates 4,000,000+ business inquiries and reached 6,000,000+ engaged couples from Indonesia and around the world every year.</p>
                    <a href="<%= menuUrl + menu[1].url %>#online_presence" class="btn btn-primary">
                        Learn More
                    </a>
                </div>
            </div>
        </div>

        <div class="cover-gray">
            <div class="container">
                <div class="row">

                    <div class="col-12 img switch-mobile">
                        <img class="img-responsive"  src="assets/icons/Landing_Page_Icon_4.png" alt="Interact real time with potential clients">
                    </div>

                    <div class="col-lg-6 col-12 text ">
                        <h2>Interact real time <br> with potential clients</h2>
                        <span class="border-pink"></span>
                        <p>Follow up and chat with brides-to-be directly with our <br> Bridestory Pro app.
                                !</p>
                        <a href="<%= menuUrl + menu[1].url %>#online_presence" class="btn btn-primary">
                            Learn More
                        </a>
                    </div>
                    <div class="col-lg-6 col-12 img switch-desktop">
                        <img class="img-responsive"  src="assets/icons/Landing_Page_Icon_4.png" alt="Interact real time with potential clients">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="counter" class="data_st pd-section">
        <div class="container">
            <h2 class="head-section white">Lastest Statistics</h2>
            <span class="border-pink center m-top20 m-btm20"></span>
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="img-box">
                            <img class="img-responsive" src="assets/icons/statistics_icon_1.png" alt="Average Monthly Visitors">
                    </div>
                    <p>Average <br> Monthly Visitors <br><br>
                        <span class="counter-value" data-count="597">0</span>
                        <span>K</span>
                    </p>
              
                </div>
                <div class="col-lg-4">
                    <div class="img-box">
                        <img class="img-responsive" src="assets/icons/statistics_icon_2.png" alt="Average Monthly Inquiries">
                    </div>
                    <p>Average <br> Monthly Inquiries<br><br>
                        <span class="counter-value" data-count="290">0</span>
                        <span>K</span>
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="img-box">
                        <img class="img-responsive" src="assets/icons/statistics_icon_3.png" alt="Average Monthly Inquiries / Vendor">
                    </div>
                    <p>Average <br> Monthly Inquiries / Vendor<br><br>
                        <span class="counter-value" data-count="136">0</span>
                    </p>
                </div>
            </div>

            <div class="row text-center m-top40">
                <a href="#" class="btn btn-primary mid-button center-block ">Find Out More</a>
            </div>
            
        </div>
    </section>

    <section class="download-apps pd-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 img-frame">
                    <img class="phone-apps" src="assets/icons/phone_app_store.png" alt="">
                </div>
                <div class="col-12 col-lg-6">
                    <h2>Manage your business <br>anytime, anywhere</h2>
                    <span class="border-pink"></span>
                    <ul>
                        <li>Chat with your clients</li>
                        <li>See who your potential clients are and reach out to them</li>
                        <li>Upload and manage your projects</li>
                        <li>Manage your subscription plans</li>
                        <li>Keep your business information up to date</li>
                    </ul>
                    <p class="f-w700 m-btm30 m-top20">Download bridestory Pro on</p>
                 
                        <a class="playstore" href="https://app.appsflyer.com/id1067262519?pid=Bridestory&c=Desktop_App-Page_Top">
                            <img class="img-responsive" src="assets/icons/appstore.png" alt="Bridestory App Store">
                        </a>
            
                        <a href="https://app.appsflyer.com/com.bridestory.user?pid=Bridestory&c=Desktop_App-Page_Top">
                            <img class="img-responsive" src="assets/icons/play_store.png" alt="Bridestory Play Store">
                        </a>
                </div>
            </div>
        </div>
    </section>

    <section class="sucess-stories">
        <h2 class="head-section">Success Stories</h2>
        <span class="border-pink center m-top20 m-btm20"></span>
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-12 testimonial">
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <div class="profpic"></div>
                        </div>
                        <div class="col-lg-9 col-12 text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend luctus nulla, eu rutrum velit fermentum et. Nam vitae condimentum dolor. Nunc erat risus, tincidunt id arcu ac, sodales iaculis diam. Ut dignissim id dolor at dignissim. Morbi dolor libero, ultrices ut ante a, tincidunt euismod odio</p>
                            <span class="border-pink"></span>
                            <p class="name f-w700 m-top40">Alice Callista</p>
                            <p class="role">Founder, Alleka Design, Indonesia</p>
                        </div>
                        <div></div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12 testimonial">
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <div class="profpic"></div>
                        </div>
                        <div class="col-lg-9 col-12 text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend luctus nulla, eu rutrum velit fermentum et. Nam vitae condimentum dolor. Nunc erat risus, tincidunt id arcu ac, sodales iaculis diam. Ut dignissim id dolor at dignissim. Morbi dolor libero, ultrices ut ante a, tincidunt euismod odio</p>
                            <span class="border-pink"></span>
                            <p class="name f-w700 m-top40">Alice Callista</p>
                            <p class="role">Founder, Alleka Design, Indonesia</p>
                        </div>
                        <div></div>
                    </div>
                </div>

          
            </div>
            <div class="row text-center m-top40">
                <a href="/sucessstories" class="btn btn-primary mid-button center-block ">See Other Success Stories</a>
            </div>
        </div>
    </section>
    
    <section class="vendors pd-section vendor-origin">
        <h2 class="head-section">Vendors Who Have Joined Us </h2>
        <span class="border-pink center m-top20 m-btm20"></span>
        <div class="container">
            <div class="row">
                <% dataVendors.forEach((vendor)=>{ %>
                <div class="col-lg-15 col-md-15 col-sm-15">
                        <img class="img-responsive" src="assets/vendor_logo/sg/<%= vendor.vendor_img %>">
                </div>
                <%}) %>
            </div>
        </div>
    </section>

    <section class="text-center m-top40 trial">
        <div class="container">
            <h2 class="head-section white">Want to grow your business with us? Create your FREE business profile now!</h2>
            <a href="https://business.bridestory.com/register/vendor#/" class="btn btn-primary mid-button center-block m-top30">Start Free Trial</a>
        </div>
    </section>

    <section class="text-center pd-section contact-assist">
        <h2 class="head-section">Need assistance? Contact us today!</h2>
        <span class="border-pink center m-top20 m-btm20"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="ct-icon">
                        <img class="img-responsive" src="assets/icons/Landing_page_icon-Phone.png" alt="Contact Call">
                    </div>
                    <p>Call <span>+62 21 3006 6819</span></p>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="ct-icon p-top20 ">
                        <img class="img-responsive" src="assets/icons/Landing_page_icon_Email.png" alt="Contact Email">
                    </div>
                    <p>Email <span>support@bridestory.com</span></p>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="ct-icon p-top20 ">
                        <img class="img-responsive" src="assets/icons/Landing_page_icon_Chat.png" alt="Contact Chat">
                    </div>
                    <p>Chat <a href="https://v2.zopim.com/widget/livechat.html?key=1zzZrxG2padaT6Mo2xl8EwufERXIUswj&lang=en&hostname=www.bridestory.com">Start Chatting</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="blogs pd-section">
        <h2 class="head-section">Business Blog</h2>
        <span class="border-pink center m-top20 m-btm20"></span>
        <h3 class="f-w400 m-top30 m-btm30">Resources you need to grow your wedding business.</h3>
        <div class="container">
            <div class="row">

                <%var i = 0; dataBlogs.forEach((blogs)=>{ %>
                <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="img-blog">
                        <img class="img-responsive" src="<%= blogs.homestreamImage %>">
                    </div>
                    <span class="catagory">
                        <b><%= blogs.categories.data[0].name %></b>
                        - <% 
                            var fd = blogs.createdAt
                            var date = fd.slice(0,10)
                            var newDate = new Date(date) %>
                          <%= newDate.toDateString() %>
                    </span>
                    <h4 class="f-w700">
                            <%= blogs.title %>
                    </h4>
                </div>
                <%}) %>
            </div>
        </div>

        <div class="container text-center m-top40">
            <a href="<%- baseUrl -%>/blog" class="btn btn-primary mid-button center-block ">View More Articles</a>
        </div>
    </section>          
<% include template/footer %>
