<% include template/header %>
    <section class="jumbotron">
        <div class="row justify-content-end" ng-controller="registerController as registerCtrl" ng-cloak>
            <div class="col-lg-8 col-md-6 col-xs-12">
                <h1>
                    <%- localization[transId].home.title -%>
                </h1>
                <span class="border-pink m-top30 m-btm30"></span>
                <p class="l-h28 f-w400"> <%- localization[transId].home.sub_title -%></p>
            </div>   
            <div class="col-lg-4 col-md-6 col-xs-12">
                <form>
                    <h2 class=""><%- localization[transId].home.form_title -%></h2>
                    <span><%- localization[transId].home.form_sub_title -%> :</span>
                    <div class="form-group ">
                        <select class="form-control m-top20" ng-model="category" ng-options="item as item.name for item in registerCtrl.categories() track by item.id"></select>
                        <small ng-if="category.id == 0 && submitted" id="businessEmpty" class="form-text text-muted">Please fill your Category Name</small>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="businessName" placeholder="Business Name" required>
                        <small ng-if="!businessName && submitted" id="businessEmpty" class="form-text text-muted">Please fill your Business Name</small>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="emailVendor" ng-change="validateEmail(emailVendor)" placeholder="Email Address" required>
                        <small ng-if="!emailVendor && submitted" id="emailEmpty" class="form-text text-muted">Please fill your Email</small>
                        <small ng-if="emailVendor && !emailValid && submitted" id="wrongEmail" class="form-text text-muted">Your email is not valid</small>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" ng-model="password" placeholder="Password" required>
                        <small ng-if="!password && submitted" id="passwordEmpty" class="form-text text-muted">Please fill your password</small>
                    </div>
                    <a class="btn btn-primary block white f-w700" ng-click="submitRegistration()" /><%- localization[transId].home.content_30 -%></a>
                    <span class="block mt-20 info-login"><%- localization[transId].home.form_cond_1 -%></span>

                    <span class="f-w700 block mt-20 info-login"><%- localization[transId].home.form_cond_2 -%></span>
                </form>
            </div>
        </div>

        <a href="#benefits" class="text-center mt-20 mb-20 f-w700 pagelink" style="display:block;"><%- localization[transId].home.content_1 -%></a> 
    </section>

    <!-- displayed only on mobile screen -->
    <section class="home-regis">
        <div class="container" ng-controller="registerController as registerCtrl" ng-cloak>
            <div class="col-12">
                <form>
                    <h2 class=""><%- localization[transId].home.form_title -%></h2>
                    <span><%- localization[transId].home.form_sub_title -%> :</span>
                    <div class="form-group ">
                        <select class="form-control m-top20" ng-model="category" ng-options="item as item.name for item in registerCtrl.categories() track by item.id"></select>
                        <small ng-if="category.id == 0 && submitted" id="businessEmpty" class="form-text text-muted">Please fill your Category Name</small>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="businessName" placeholder="Business Name">
                        <small ng-if="!businessName && submitted" id="businessEmpty" class="form-text text-muted">Please fill your Business Name</small>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="emailVendor" ng-change="validateEmail(emailVendor)" placeholder="Email Address">
                        <small ng-if="!emailVendor && submitted" id="emailEmpty" class="form-text text-muted">Please fill your Email</small>
                        <small ng-if="emailVendor && !emailValid && submitted" id="wrongEmail" class="form-text text-muted">Your email is not valid</small>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" ng-model="password" placeholder="Password">
                        <small ng-if="!password && submitted" id="passwordEmpty" class="form-text text-muted">Please fill your password</small>
                    </div>

                    <button ng-click="submitRegistration()" class="btn btn-primary"><%- localization[transId].home.content_30 -%></button>
                    <span><%- localization[transId].home.form_cond_1 -%></span>
                    <br><br>
                    <span class="f-w700"><%- localization[transId].home.form_cond_2 -%></span>
                    <a href="#benefits"  class="text-center mt-20 mb-20 f-w700 pagelink" style="display:block;"><%- localization[transId].home.content_1 -%></a> 
                </form>
            </div>
        </div>
    </section>
    <!-- -->

    <section id="benefits" class="home-benefits bg-white">
     
        <div class="container">
            <div class="row">
                <div class="col-12 pt-40 switch-mobile">
                    <img class="img-responsive" src="<%- assetsUrl -%>/icons/Landing_Page_Icon_1.png" alt="Instantly build an online presence">
                </div>
                <div class="col-lg-6 col-12 text">
                    <h2><%- localization[transId].home.content_2 -%></h2>
                    <span class="border-pink"></span>
                    <p><%- localization[transId].home.content_3 -%></p>
                    <a href="<%= menuUrl + menu[1].url %>#online_presence" data-key="hp_learn_more_build_your_online_presence"  class="btn btn-primary hp_learn_more_build_your_online_presence">
                        Learn More
                    </a>
                </div>
                <div class="col-lg-6 col-12 img switch-desktop">
                    <img class="img-responsive" src="<%- assetsUrl -%>/icons/Landing_Page_Icon_1.png" alt="Instantly build an online presence">
                </div>
            </div>
        </div>

        <div class="cover-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12 img">
                        <img class="img-responsive" src="<%- assetsUrl -%>/icons/Landing_Page_Icon_2.png" alt="Provide your clients with various <br> payment options">
                    </div>
        
            
                    <div class="col-lg-6 col-12 text">
                        <h2><%- localization[transId].home.content_4 -%></h2>
                        <span class="border-pink"></span>
                        <p><%- localization[transId].home.content_5 -%>:</p>
                        <ul>
                            <li><%- localization[transId].home.content_6 -%></li>
                            <li><%- localization[transId].home.content_7 -%></li>
                            <li><%- localization[transId].home.content_8 -%></li>
                        </ul>
                        <a data-key="hp_learn_more_provide_your_client_with_various_payment_options" href="<%= menuUrl + menu[1].url %>#online_presence" class="btn btn-primary hp_learn_more_provide_your_client_with_various_payment_options">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 img">
                    <img class="img-responsive" src="<%- assetsUrl -%>/icons/Landing_Page_Icon_3.png" alt="IExpand your business easily">
                </div>
    
                <div class="col-lg-6 col-12 text">
                    <h2><%- localization[transId].home.content_9 -%></h2>
                    <span class="border-pink"></span>
                    <p><%- localization[transId].home.content_10 -%></p>
                    <a href="<%= menuUrl + menu[1].url %>#online_presence"  data-key="hp_learn_more_expand_your_business_reach" class="btn btn-primary hp_learn_more_expand_your_business_reach">
                        Learn More
                    </a>
                </div>
            </div>
        </div>

        <div class="cover-gray">
            <div class="container">
                <div class="row">

                    <div class="col-12 img switch-mobile">
                        <img class="img-responsive"  src="<%- assetsUrl -%>/icons/Landing_Page_Icon_4.png" alt="Interact real time with potential clients">
                    </div>

                    <div class="col-lg-6 col-12 text ">
                        <h2><%- localization[transId].home.content_11 -%></h2>
                        <span class="border-pink"></span>
                        <p><%- localization[transId].home.content_12 -%></p>
                        <a data-key="hp_learn_more_interact_real_time_with_potensial_clients" href="<%= menuUrl + menu[1].url %>#online_presence" class="btn btn-primary hp_learn_more_interact_real_time_with_potensial_clients">
                            Learn More
                        </a>
                    </div>
                    <div class="col-lg-6 col-12 img switch-desktop">
                        <img class="img-responsive"  src="<%- assetsUrl -%>/icons/Landing_Page_Icon_4.png" alt="Interact real time with potential clients">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="counter" class="data_st pd-section">
        <div class="container">
            <h2 class="head-section"><%- localization[transId].home.content_13 -%></h2>
            <span class="border-pink center m-top20 m-btm20"></span>
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="img-box">
                            <img class="img-responsive" src="<%- assetsUrl -%>/icons/statistics_icon_1.png" alt="Average Monthly Visitors">
                    </div>
                    <p><%- localization[transId].home.content_14 -%>
                        <span class="counter-value">597</span>
                        <span>K</span>
                    </p>
              
                </div>
                <div class="col-lg-4">
                    <div class="img-box">
                        <img class="img-responsive" src="<%- assetsUrl -%>/icons/statistics_icon_2.png" alt="Average Monthly Inquiries">
                    </div>
                    <p><%- localization[transId].home.content_15 -%>
                        <span class="counter-value">290</span>
                        <span>K</span>
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="img-box">
                        <img class="img-responsive" src="<%- assetsUrl -%>/icons/statistics_icon_3.png" alt="Average Monthly Inquiries / Vendor">
                    </div>
                    <p><%- localization[transId].home.content_16 -%>
                        <span class="counter-value">136</span>
                    </p>
                </div>
            </div>

            <div class="row text-center m-top40">
                <a href="https://business.bridestory.com/blog/category/bridestory-platfom-insider" data-key="hp_find_out_more_latest_statistic" class="btn btn-primary mid-button center-block hp_find_out_more_latest_statistic">Find Out More</a>
            </div>
            
        </div>
    </section>

    <section class="download-apps pd-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 img-frame">
                    <img class="phone-apps" src="<%- assetsUrl -%>/icons/phone_app_store.png" alt="">
                </div>
                <div class="col-12 col-lg-6">
                    <h2><%- localization[transId].home.content_17 -%></h2>
                    <span class="border-pink"></span>
                    <ul>
                        <li><%- localization[transId].home.content_18 -%></li>
                        <li><%- localization[transId].home.content_19 -%></li>
                        <li><%- localization[transId].home.content_20 -%></li>
                        <li><%- localization[transId].home.content_21 -%></li>
                        <li><%- localization[transId].home.content_22 -%></li>
                    </ul>
                    <p class="f-w700 m-btm30 m-top20">Download bridestory Pro on</p>
                 
                        <a class="playstore hp_download_app_store" data-key="hp_download_app_store" href="https://itunes.apple.com/us/app/bridestory-pro/id1014315547?mt=8">
                            <img class="img-responsive" src="<%- assetsUrl -%>/icons/appstore.png" alt="Bridestory App Store">
                        </a>
            
                        <a class="hp_download_google_play" data-key="hp_download_google_play" href="https://play.google.com/store/apps/details?id=com.bridestory.android.bridestoryforbusiness">
                            <img class="img-responsive" src="<%- assetsUrl -%>/icons/play_store.png" alt="Bridestory Play Store">
                        </a>
                </div>
            </div>
        </div>
    </section>

    <section class="sucess-stories">
        <h2 class="head-section"><%- localization[transId].home.content_23 -%></h2>
        <span class="border-pink center m-top20 m-btm20"></span>
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-12 testimonial">
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <div class="profpic"></div>
                        </div>
                        <div class="col-lg-9 col-12 text">
                            <p>"Its the right place to display our talents and services. As a new comer, participating in Bridestory Fair has given us a chance to meet direct clients and it also gives us the opportunity to continue networking with other wedding professionals."</p>
                            <span class="border-pink"></span>
                            <p class="name f-w700 m-top40">Alice Callista</p>
                            <p class="role">Founder, Alleka Design, Indonesia</p>
                        </div>
                        <div></div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12 testimonial">
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <div class="profpic"></div>
                        </div>
                        <div class="col-lg-9 col-12 text">
                            <p>We believe that the bridestory website is truly an effective way to find good vendors. Its like having a virtual mall for wedding. Through bridestory, clients can see our profile and enable them to determine what they want even before they meet us.</p>
                            <span class="border-pink"></span>
                            <p class="name f-w700 m-top40">Yu Cien</p>
                            <p class="role">Founder, Lotus Design, Indonesia</p>
                        </div>
                        <div></div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12 testimonial">
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <div class="profpic"></div>
                        </div>
                        <div class="col-lg-9 col-12 text">
                            <p>Bridestory has become one of the top wedding vendors platforms in Singapore. My photography business has been exposed and showcased locally and as well as in South East Asia. A great channel that bring photographers and potential couples together and at ease. Thanks Bridestory</p>
                            <span class="border-pink"></span>
                            <p class="name f-w700 m-top40">Stan</p>
                            <p class="role">Founder, Stanstills, Singapore</p>
                        </div>
                        <div></div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12 testimonial">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <div class="profpic"></div>
                            </div>
                            <div class="col-lg-9 col-12 text">
                                <p>The app made it easy for us to update our profile, post new photos and videos for our portfolio. Besides, we receive more business leads and can respond to them immediately. The application has made us visible to our clients and potential clients.</p>
                                <span class="border-pink"></span>
                                <p class="name f-w700 m-top40">Sheena Caburog</p>
                                <p class="role">Founder, Mayad Studios, Phillippines</p>
                            </div>
                            <div></div>
                        </div>
                    </div>

          
            </div>
            <div class="row text-center m-top40">
                <a href="/home/success-stories" class="btn btn-primary mid-button center-block hp_view_more_success_stories"><%- localization[transId].home.content_24 -%></a>
            </div>
        </div>
    </section>
    
    <section class="vendors pd-section vendor-origin">
        <h2 class="head-section"><%- localization[transId].home.content_25 -%></h2>
        <span class="border-pink center m-top20 m-btm20"></span>
        <div class="container">
            <div class="row">
                    
                <% dataVendors.forEach((vendor)=>{ %>
                <div class="col-lg-15 col-md-15 col-sm-15">
                    <a href="<%= vendor.vendor_account %>">
                        <img class="img-responsive" src="<%- assetsUrl -%>/vendor_logo/<%= folderImg %>/<%= vendor.vendor_img %>">
                    </a>
                </div>
                <%}) %>
            </div>
        </div>
    </section>

    <section class="text-center m-top40 trial">
        <div class="container">
            <h2 class="head-section white"><%- localization[transId].home.content_26 -%></h2>
            <a href="https://business.bridestory.com/register/vendor#/" data-key="hp_start_free_trial" class="btn btn-primary mid-button center-block m-top30 hp_start_free_trial"><%- localization[transId].home.content_30 -%></a>
        </div>
    </section>

    <section class="text-center pd-section contact-assist">
        <h2 class="head-section"><%- localization[transId].home.content_27 -%></h2>
        <span class="border-pink center m-top20 m-btm20"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="ct-icon">
                        <img class="img-responsive" src="<%- assetsUrl -%>/icons/Landing_page_icon-Phone.png" alt="Contact Call">
                    </div>
                    <p>Call <span>+62 21 3006 6819</span></p>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="ct-icon p-top20 ">
                        <img class="img-responsive" src="<%- assetsUrl -%>/icons/Landing_page_icon_Email.png" alt="Contact Email">
                    </div>
                    <p>Email <span>support@bridestory.com</span></p>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="ct-icon p-top20 ">
                        <img class="img-responsive" src="<%- assetsUrl -%>/icons/Landing_page_icon_Chat.png" alt="Contact Chat">
                    </div>
                    <p>Chat <a class="hp_start_chatting" href="https://v2.zopim.com/widget/livechat.html?key=1zzZrxG2padaT6Mo2xl8EwufERXIUswj&lang=en&hostname=www.bridestory.com">Start Chatting</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="blogs pd-section">
        <h2 class="head-section">Business Blog</h2>
        <span class="border-pink center m-top20 m-btm20"></span>
        <h3 class="f-w400 m-top30 m-btm30"><%- localization[transId].home.content_28 -%></h3>
        <div class="container">
            <div class="row">

                <%var i = 0; dataBlogs.forEach((blogs)=>{ %>
                
                    <div class="col-lg-4 col-md-12 col-xs-12">
                        <a class="hp_blog" href="https://business.bridestory.com/blog/<%= blogs.slug %>">
                            <div class="img-blog">
                                <% 
                                    var newImageName =  blogs.homestreamImage 
                                    var res = newImageName.replace("upload/","upload/f_auto,fl_progressive,w_350,h_233,q_80/")
                                %>
                                <img class="img-responsive" src="<%= res %>">
                            </div>
                            <span class="catagory">
                                <b><%= blogs.categories.data[0].name %></b>
                                - <% 
                                    var fd = blogs.createdAt
                                    var date = fd.slice(0,10)
                                    var newDate = new Date(date) %>
                                <%= newDate.toDateString() %>
                            </span>
                            <h4 class="f-w700" data-key="<%= blogs.slug %>">
                                    <%= blogs.title %>
                            </h4>
                        </a>
                    </div>
                
                <%}) %>
            </div>
        </div>

        <div class="container text-center m-top40">
            <a href="https://business.bridestory.com/blog" class="btn btn-primary mid-button center-block hp_view_more_articles"><%- localization[transId].home.content_29 -%></a>
        </div>
    </section>          
<% include template/footer %>
