<% include template/header %>

<section class="pricing-header">
	<div class="title">
		<h1>Pricing</h1>
		<div class="border-bottom-text"><div/>
	</div>
</section>
<section class="pricing-content">
	<div class="container" ng-controller="pricingController as pricingCtrl" ng-cloak>
		<div class="row mt-50 pb-40">
			<div class="col-lg-12">
				<h2><%- localization[transId].pricing.content_1 %></h2>
				<div class="border-bottom-text"></div>
			</div>
			<div class="col-lg-12 mt-20">
				<div class="center-position col-lg-6">
					<div class="col-lg-12 mt-20">
						<span class="bold"><%- localization[transId].pricing.content_2 %></span>
					</div>
					<div class="col-lg-12 select-category mt-10">
                        <select class="form-control" ng-model="category[0]" ng-options="item as item.name for item in pricingCtrl.categories() track by item.id">
                        </select>
                        <small ng-if="!category[0].id && submitted[0]" id="businessEmpty" class="form-text text-muted"><%- localization[transId].pricing.content_28 %></small>
					</div>
					<div class="col-lg-12 mt-20">
						<span class="bold"><%- localization[transId].pricing.content_4 %></span>
					</div>
					<div class="col-lg-12 mt-10 search-city">
						<i class="icon-search"></i>
						<input ng-model="city[0].name" ng-change="searchCity(0)" type="text" placeholder="Jakarta, Indonesia">
                        <small ng-if="!city[0].name && submitted[0]" id="businessEmpty" class="form-text text-muted"><%- localization[transId].pricing.content_29 %></small>
						<ul class="dropdown-menu" ng-if="city[0].cities.length">
							<li ng-repeat="(key, city) in city[0].cities" ng-click="selectCity(0, city)">{{city.name}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-12 mt-20">
				<div class="col-lg-2 center-position">
					<button ng-click="checkPrice(0)" class="btn"><%- localization[transId].pricing.content_5 %></button>
				</div>
			</div>
		</div>

		<div ng-if="memberships.gold != undefined && memberships.silver != undefined">
			<div class="row">
				<div class="col-lg-12 pricing-info">
					<table>
						<thead>
							<tr>
								<th class="bold">
									<div class="col-lg-12">
										<span><%- localization[transId].pricing.content_6 %></span>
									</div>
									<div class="col-lg-12 select-category mt-10">
				                        <select class="form-control" ng-model="category[1]" ng-options="item as item.name for item in pricingCtrl.categories() track by item.id"></select>
                       					<small ng-if="!category[1].id && submitted[1]" id="businessEmpty" class="form-text text-muted"><%- localization[transId].pricing.content_28 %></small>
									</div>
									<div class="col-lg-12 mt-10">
										<span><%- localization[transId].pricing.content_7 %></span>
									</div>
									<div class="col-lg-12 search-city mt-10">
										<i class="icon-search"></i>
										<input ng-model="city[1].name" ng-change="searchCity(1)" type="text" placeholder="Jakarta, Indonesia">
										<ul class="dropdown-menu" ng-if="city[1].name">
											<li ng-repeat="(key, city) in city[1].cities" ng-click="selectCity(1, city)">{{city.name}}</li>
										</ul>
									</div>
								</th>
								<th>
									<div class="col-lg-12 pt-10 pb-10">
										&nbsp;
									</div>
									<div class="col-lg-12 pt-10 pb-10">
										<span class="bold price">SILVER</span>
									</div>
									<div class="col-lg-12 pt-10 pb-10">
										<span class="bold"><%- localization[transId].pricing.content_38 %></span> <%- localization[transId].pricing.content_39 %>
									</div>
									<div class="col-lg-12 pt-10 pb-10 bg-gray">
										{{ currency }} <span class="bold price">{{memberships.silver.price ? numberFormat(memberships.silver.price) : ''}}</span>/MO
									</div>
								</th>
								<th class="side-border top-border">
									<div class="col-lg-12">
										<div class="best-seller">BEST SELLER</div>
									</div>
									<div class="col-lg-12 pt-10 pb-10">
										<span class="bold price">GOLD</span>
									</div>
									<div class="col-lg-12 pt-10 pb-10">
										<span class="bold"><%- localization[transId].pricing.content_38 %></span> <%- localization[transId].pricing.content_39 %>
									</div>
									<div class="col-lg-12 pt-10 pb-10 bg-gray">
										{{ currency }} <span class="bold price">{{memberships.gold.price ? numberFormat(memberships.gold.price) : ''}}</span>/MO
									</div>
								</th>
								<th>
									<div class="col-lg-12 pt-10 pb-10">
										&nbsp;
									</div>
									<div class="col-lg-12 pt-10 pb-10">
										<span class="bold price">TRIAL</span>
									</div>
									<div class="col-lg-12 pt-10 pb-10">
										&nbsp;
									</div>
									<div class="col-lg-12 pt-10 pb-10">
										&nbsp;
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
								<td class="side-border">
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_11 %> <i class="blue icon-info-circled" data-toggle="tooltip" data-placement="right" title="<%- localization[transId].pricing.content_12 %>"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										Unlimited
									</div>
								</td>
								<td class="side-border">
									<div class="col-lg-12 pt-10 pb-10">
										Unlimited
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										35 Credits
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_13 %>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="red icon-cancel-circled"></i>
									</div>
								</td>
								<td class="side-border">
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="red icon-cancel-circled"></i>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_30 %>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td class="side-border">
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<%- localization[transId].pricing.content_32 %>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_31 %>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td class="side-border">
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<%- localization[transId].pricing.content_32 %>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_16 %>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td class="side-border">
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_17 %> <i class="blue icon-info-circled" data-toggle="tooltip" data-placement="right" title="<%- localization[transId].pricing.content_18 %>"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<%- localization[transId].pricing.content_33 %>
									</div>
								</td>
								<td class="side-border">
									<div class="col-lg-12 pt-10 pb-10">
										<%- localization[transId].pricing.content_33 %>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<%- localization[transId].pricing.content_34 %>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_19 %> <i class="blue icon-info-circled" data-toggle="tooltip" data-placement="right" title="<%- localization[transId].pricing.content_20 %>"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td class="side-border">
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_21 %>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="red icon-cancel-circled"></i>
									</div>
								</td>
								<td class="side-border">
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="red icon-cancel-circled"></i>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_22 %>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td class="side-border">
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="red icon-cancel-circled"></i>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_23 %>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td class="side-border">
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<%- localization[transId].pricing.content_32 %>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_24 %>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td class="side-border">
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="red icon-cancel-circled"></i>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_25 %>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td class="side-border">
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_26 %>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td class="side-border">
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-10 pb-10 ml-10">
										<%- localization[transId].pricing.content_27 %>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td class="side-border bottom-border">
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-10 pb-10">
										<i class="green icon-ok-circled"></i>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-lg-12 pt-20 pb-10">
										&nbsp;
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-20 pb-10">
										<a href="<%- baseUrl -%>/register/vendor#/" class="btn btn-primary"><%- localization[transId].pricing.content_8 %></a>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-20 pb-10">
										<a href="<%- baseUrl -%>register/vendor#/" class="btn btn-primary"><%- localization[transId].pricing.content_8 %></a>
									</div>
								</td>
								<td>
									<div class="col-lg-12 pt-20 pb-10">
										<a href="<%- baseUrl -%>/register/vendor#/" class="btn btn-primary"><%- localization[transId].pricing.content_36 %></a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="pricing-slide">
						<div class="row gold-plan">
							<div class="top-slide">
								<div class="col-12 text-center mt-10">
									<span class="best-seller bold"><%- localization[transId].pricing.content_37 %></span>
								</div>
								<div class="col-12 text-center mt-30">
									<span class="f-s-22 bold gold"><i class="icon-diamond"></i> GOLD</span>
								</div>
								<div class="col-12 text-center mt-30">
									<span class="bold"><%- localization[transId].pricing.content_38 %></span> <%- localization[transId].pricing.content_40 %>
								</div>
								<div class="col-12 text-center mt-10">
									{{ currency }} <span class="bold">{{memberships.gold.price ? numberFormat(memberships.gold.price) : ''}}</span>/MO
								</div>
							</div>
							<div class="bottom-slide mt-50">
								<div class="col-12">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_11 %><i class="blue icon-info-circled" data-toggle="tooltip" data-placement="right" title="<%- localization[transId].pricing.content_12 %>"></i>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_13 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_14 %><br/> (<%- localization[transId].pricing.content_32 %>)
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_15 %><br/> (<%- localization[transId].pricing.content_32 %>)
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_16 %><br/> (<%- localization[transId].pricing.content_35 %>)
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_17 %><br/> (<%- localization[transId].pricing.content_33 %>)<i class="blue icon-info-circled" data-toggle="tooltip" data-placement="bottom" title="<%- localization[transId].pricing.content_18 %>"></i>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_19 %><i class="blue icon-info-circled" data-toggle="tooltip" data-placement="bottom" title="<%- localization[transId].pricing.content_20 %>"></i>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_21 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_22 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_23 %><br/> (<%- localization[transId].pricing.content_32 %>)
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_24 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_25 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_26 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_27 %>
									</span>
								</div>
								<div class="purchase">
									<a href="<%- baseUrl -%>/register/vendor#/" class="btn btn-primary"><%- localization[transId].pricing.content_8 %></a>
								</div>
							</div>
						</div>
						<div class="row silver-plan">
							<div class="top-slide">
								<div class="col-12 text-center mt-55">
									<span class="f-s-22 bold silver"><i class="icon-diamond"></i> Silver</span>
								</div>
								<div class="col-12 text-center mt-30">
									<span class="bold"><%- localization[transId].pricing.content_38 %></span> <%- localization[transId].pricing.content_40 %>
								</div>
								<div class="col-12 text-center mt-10">
									{{ currency }} <span class="bold">{{memberships.silver.price ? numberFormat(memberships.silver.price) : ''}}</span>/MO
								</div>
							</div>
							<div class="bottom-slide mt-50">
								<div class="col-12">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_11 %><i class="blue icon-info-circled" data-toggle="tooltip" data-placement="right" title="<%- localization[transId].pricing.content_12 %>"></i>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="red icon-cancel-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_13 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_14 %><br/> (<%- localization[transId].pricing.content_32 %>)
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_15 %><br/> (<%- localization[transId].pricing.content_32 %>)
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_16 %><br/> (<%- localization[transId].pricing.content_35 %>)
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_17 %><br/> (<%- localization[transId].pricing.content_33 %>)<i class="blue icon-info-circled" data-toggle="tooltip" data-placement="bottom" title="<%- localization[transId].pricing.content_18 %>"></i>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_19 %><i class="blue icon-info-circled" data-toggle="tooltip" data-placement="bottom" title="<%- localization[transId].pricing.content_20 %>"></i>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="red icon-cancel-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_21 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_22 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_23 %><br/> (<%- localization[transId].pricing.content_32 %>)
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_24 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_25 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_26 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_27 %>
									</span>
								</div>
								<div class="purchase">
									<a href="<%- baseUrl -%>/register/vendor#/" class="btn btn-primary"><%- localization[transId].pricing.content_8 %></a>
								</div>
							</div>
						</div>
						<div class="row trial-plan">
							<div class="top-slide">
								<div class="col-12 text-center mt-55">
									<span class="f-s-22 bold">Trial</span>
								</div>
								<div class="col-12 text-center mt-30">
									&nbsp;
								</div>
								<div class="col-12 text-center mt-10">
									&nbsp;
								</div>
							</div>
							<div class="bottom-slide mt-50">
								<div class="col-12">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_11 %><i class="blue icon-info-circled" data-toggle="tooltip" data-placement="right" title="<%- localization[transId].pricing.content_12 %>"></i>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="red icon-cancel-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_13 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_14 %><br/> (<%- localization[transId].pricing.content_32 %>)
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_15 %><br/> (<%- localization[transId].pricing.content_32 %>)
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_16 %><br/> (<%- localization[transId].pricing.content_35 %>)
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_17 %><br/> (<%- localization[transId].pricing.content_34 %>)<i class="blue icon-info-circled" data-toggle="tooltip" data-placement="bottom" title="<%- localization[transId].pricing.content_18 %>"></i>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_19 %><i class="blue icon-info-circled" data-toggle="tooltip" data-placement="bottom" title="<%- localization[transId].pricing.content_20 %>"></i>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="red icon-cancel-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_21 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="red icon-cancel-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_22 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_23 %><br/> (<%- localization[transId].pricing.content_32 %>)
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="red icon-cancel-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_24 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_25 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_26 %>
									</span>
								</div>
								<div class="col-12 mt-20">
									<span class="pr-10">
										<i class="green icon-ok-circled"></i>
									</span>
									<span>
										<%- localization[transId].pricing.content_27 %>
									</span>
								</div>
								<div class="purchase">
									<a href="<%- baseUrl -%>/register/vendor#/" class="btn btn-primary"><%- localization[transId].pricing.content_36 %></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row mt-50 pb-80">
				<div class="col-lg-7">
					<p>
						<%- localization[transId].pricing.content_9 -%>
					</p>
					<p>
						<%- localization[transId].pricing.content_10 -%>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<% include template/footer %>
