<!DOCTYPE html>
<html lang="en" ng-app="homeApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home for Bridestory's Wedding Vendors | Grow Wedding Business with Bridestory</title>
    <link rel="shortcut icon" href="https://alexandra.bridestory.com/image/upload/assets/images/desktop/favicon.ico" type="image/x-icon">
    <link href="<%- assetsCssUrl -%>" type="text/css" rel="stylesheet">
</head>
<body>

    <header class="container-fluid sticky-top" ng-controller="loginController as loginCtrl">
        <nav class="navbar navbar-header navbar-expand-lg navbar-light">
            <button class="navbar-toggler mr-20" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="<%- baseUrl -%>"></a>
            <div class="top-menu">
                <ul>
                    <li ng-if="loginCtrl.user().id == undefined"><a href="https://business.bridestory.com/login">VENDOR LOGIN</a></li>
                    <li ng-if="loginCtrl.user().id">
                        <div class="dropdown show if-login">
                            <a class="dropdown-toggle btn" role="button" id="dropdownMenuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">    
                                <div class="vendorPic">
                                    <img src="{{loginCtrl.user().account.data.cover}}" alt="Vendor Image Profile" height="38">
                                </div>
                                <div class="vendorInfo">
                                    <h4 class="vendorName">{{loginCtrl.user().displayName}}</h4>
                                    <p class="status">
                                        Trial -
                                        <span class="credit">
                                            35 credits
                                        </span>
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuProfile">
                               <a class="dropdown-item" href="">{{loginCtrl.user().displayName}}</a>
                               <div class="dropdown-divider"></div>
                               <a class="dropdown-item dashboard" href="<%- baseUrl -%>/dashboard">MY DASHBOARD</a>
                               <a class="dropdown-item profile" href="<%- baseUrl -%>/{{loginCtrl.user().slug}}">MY PROFILE</a>
                               <a class="dropdown-item settings" href="<%- baseUrl -%>/dashboard/settings">MY SETTINGS</a>
                               <div class="dropdown-divider"></div>
                               <a class="dropdown-item logout" href="">LOG OUT</a>
                            </div>
                        </div>
                    </li>   
                    <li ng-if="loginCtrl.user().id == undefined" class="p-left15"><a class="btn btn-primary" href="https://business.bridestory.com/register/vendor#/">Start Free Trial</a></li>
                    <li class=""><a href="#">
                        <div class="dropdown show">
                            <a class="dropdown-toggle btn <%- transId -%>" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%- transId -%>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <% Object.keys(menu).forEach(function(key) { %>
                                    <% if(key == active) { %>
                                        <a href="<%= baseUrl + menu[key].url%>" class="dropdown-item en" href="#" ng-click="setPreferredLang('en')">EN</a>
                                        <a href="<%= baseUrl + '/id' + menu[key].url%>" class="dropdown-item id" href="#" ng-click="setPreferredLang('id')">ID</a>
                                    <% } %>
                                <% }); %>
                            </div>
                        </div>
                    </a>
                </li>
                </ul>
            </div>
            
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-faded">
            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <ul class="navbar-nav mt-20 m-top" ng-if="loginCtrl.user().id == undefined">
                    <li>
                        <a class="btn btn-primary block center" href="https://business.bridestory.com/register/vendor">
                            Start Free Trial
                        </a>
                    </li>
                    <li class="mt-20 mb-20">
                        <a class="text-center block" href="https://business.bridestory.com/login">
                            VENDOR LOGIN
                        </a>
                    </li>
                </ul>
           
                <div class="m-if-login" ng-if="loginCtrl.user().id != undefined">
                    <div class="vendorPic">
                        <img src="{{loginCtrl.user().account.data.cover}}" alt="Vendor Image Profile" height="45">
                    </div>
                    <div class="vendorInfo">
                        <h4 class="vendorName">{{loginCtrl.user().displayName}}</h4>
                        <p class="status">
                            Trial -
                            <span class="credit">
                                35 credits
                            </span>
                        </p>
                        <a href="#">GO TO MY DASHBOARD</a>
                    </div>   
                </div>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <% Object.keys(menu).forEach(function(key) { %>
                        <% if(key == active) { %>
                            <li class="nav-item">
                                <a class="nav-link active <%= menu[key].name %>" href="<%= menuUrl + menu[key].url %>"><%= menu[key].name %></a>
                            </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link <%= menu[key].name %>" href="<%= menuUrl + menu[key].url %>"><%= menu[key].name %></a>
                            </li>
                        <% } %>
                    <% }); %>

                    <li class="nav-item">
                        <a class="nav-link blog" href="https://business.bridestory.com/blog">Blog</a>
                    </li>
                </ul>

                <ul class="navbar-nav m-btm">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle toggle-<%- transId -%>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%- transId -%>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <% Object.keys(menu).forEach(function(key) { %>
                                <% if(key == active) { %>
                                    <a href="<%= baseUrl + menu[key].url%>" class="dropdown-item en" href="#" ng-click="setPreferredLang('en')">EN</a>
                                    <a href="<%= baseUrl + '/id' + menu[key].url%>" class="dropdown-item id" href="#" ng-click="setPreferredLang('id')">ID</a>
                                <% } %>
                            <% }); %>
                        </div>
                    </li>
                </ul>
            </div>  
        </nav>

    </header>


    