<!DOCTYPE html>
<html lang="en" ng-app="homeApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home for Bridestory's Wedding Vendors | Grow Wedding Business with Bridestory</title>
    <link rel="shortcut icon" href="https://alexandra.bridestory.com/image/upload/assets/images/desktop/favicon.ico" type="image/x-icon">
    <link href="<%- assetsCssUrl -%>" type="text/css" rel="stylesheet">
</head>
<body ng-cloak>
    <div ng-controller="langController as langCtrl">
    <header class="container-fluid sticky-top" ng-controller="loginController as loginCtrl">
        <script type="text/javascript">var BS__lang = <%- JSON.stringify(lang) %>; var BS__country = <%- JSON.stringify(country) %>;</script>
        <nav class="navbar navbar-header navbar-expand-lg navbar-light">
            <button class="navbar-toggler mr-20" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="<%- baseUrl -%>"></a>
            <div class="top-menu">
                <ul>
                    <li ng-if="!loginCtrl.user()"><a class="hp_vendor_login" href="https://business.bridestory.com/login">VENDOR LOGIN</a></li>
                    <li ng-if="loginCtrl.user().id">
                        <div class="dropdown show if-login">
                            <a class="dropdown-toggle btn" role="button" id="dropdownMenuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">    
                                <div class="vendorPic">
                                    <img src="{{loginCtrl.user().account.data.cover}}" alt="Vendor Image Profile" height="38">
                                </div>
                                <div class="vendorInfo">
                                    <h4 class="vendorName">{{loginCtrl.user().displayName}}</h4>

                                    <p class="status" ng-if="loginCtrl.isPublished() && (loginCtrl.trialVendor() || loginCtrl.membership().status == 'expired')">
                                        Trial -
                                        <span class="credit" ng-if="loginCtrl.user().contactCredit < 999">
                                            {{ loginCtrl.numberWithCommas(loginCtrl.user().contactCredit)}} Credit{{loginCtrl.user().contactCredit > 1 ? 's' : '' }}
                                        </span>
                                        <span class="blocklist__credit" ng-if="loginCtrl.user().contactCredit > 999">
                                            <span class="credit">&#8734; Credits</span>
                                        </span>
                                    </p>

                                    <p class="status" ng-if="loginCtrl.isPublished() && loginCtrl.membership().membershipType.data.name == 'Gold' && !loginCtrl.trialVendor() && loginCtrl.membership().status == 'active' && loginCtrl.totalPoint()">
                                        <span class="f-c-gold">Gold</span> -
                                        <span class="credit" ng-if="loginCtrl.totalPoint()">{{ loginCtrl.numberWithCommas(loginCtrl.totalPoint()) }} Point{{loginCtrl.totalPoint() > 1 ? 's' : '' }}</span>
                                    </p>

                                    <p class="status" ng-if="loginCtrl.isPublished() && loginCtrl.membership().membershipType.data.name == 'Silver' && !loginCtrl.trialVendor() && loginCtrl.membership().status == 'active' && loginCtrl.totalPoint()">
                                        <span class="f-c-silver">{{ trans('lang.plan_silver') }}</span> -
                                        <span class="credit" ng-if="loginCtrl.totalPoint()">{{ loginCtrl.numberWithCommas(loginCtrl.totalPoint().total_point) }} Point{{ loginCtrl.totalPoint().total_point > 1 ? 's' : '' }}</span>
                                    </p>

                                    <p class="status" ng-if="loginCtrl.user().status == 0">
                                        Unpublished
                                    </p>

                                    <p class="status" ng-if="loginCtrl.user().status == 3">
                                        Inactive
                                    </p>

                                </div>
                            </a>
                            <div class="dropdown-menu " aria-labelledby="dropdownMenuProfile">
                               <a class="dropdown-item vendor_info" href="">
                                <span class="vendor_pic">
                                    <img class="img-fluid" height="38" src="{{loginCtrl.user().account.data.cover}}" alt="Vendor Image Profile">
                                </span>
                                <span class="vendor_name">
                                        {{loginCtrl.user().displayName}}    
                                </span>
                               
                                </a>
                               <div class="dropdown-divider"></div>
                               <a class="dropdown-item dashboard" href="<%- baseUrl -%>/dashboard">MY DASHBOARD</a>
                               <a class="dropdown-item profile" href="https://www.bridestory.com/{{loginCtrl.user().slug}}">MY PROFILE</a>
                               <a class="dropdown-item settings" href="<%- baseUrl -%>/dashboard/settings">MY SETTINGS</a>
                               <div class="dropdown-divider"></div>
                               <a class="dropdown-item logout" ng-click="loginCtrl.logout()" href="#">LOG OUT</a>
                            </div>
                        </div>
                    </li>   
                    <li ng-if="!loginCtrl.user()" class="p-left15"><a class="btn btn-primary hp_start_free_trial" data-key="hp_start_free_trial" href="https://business.bridestory.com/register/vendor#/"><%- localization[transId].home.content_30 -%></a></li>
                    <li class="">
                        <a href="#">
                            <div class="dropdown show">
                                <a class="dropdown-toggle btn <%- transId -%>" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%- transId -%>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <% Object.keys(menu).forEach(function(key) { %>
                                        <% if(key == active) { %>
                                            <a data-plan="hp_select_language_header" href="<%= baseUrl + menu[key].url%>" class="dropdown-item en hp_select_language_header" href="#" ng-click="langCtrl.setPreferredLang('en')">EN</a>
                                            <a data-plan="hp_select_language_header" href="<%= baseUrl + '/id' + menu[key].url%>" class="dropdown-item id hp_select_language_header" href="#" ng-click="langCtrl.setPreferredLang('id')">ID</a>
                                        <% } %>
                                    <% }); %>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-faded" ng-if="!loginCtrl.isLoading()">
            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mt-20 m-top" ng-if="loginCtrl.user().id == undefined">
                    <li>
                        <a data-key="hp_start_free_trial" class="hp_start_free_trial btn btn-primary block center border-0" href="https://business.bridestory.com/register/vendor">
                            <%- localization[transId].home.content_30 -%>
                        </a>
                    </li>
                    <li class="mt-20 mb-20">
                        <a class="text-center block" href="https://business.bridestory.com/login">
                            VENDOR LOGIN
                        </a>
                    </li>
                </ul>
           
                <div class="m-if-login" ng-if="loginCtrl.user().id != undefined">
                    <div class="vendorPic">
                        <img src="{{loginCtrl.user().account.data.cover}}" alt="Vendor Image Profile" height="45">
                    </div>
                    <div class="vendorInfo">
                        <h4 class="vendorName">{{loginCtrl.user().displayName}}</h4>

                        <p class="status" ng-if="loginCtrl.isPublished() && (loginCtrl.trialVendor() || loginCtrl.membership().status == 'expired')">
                            Trial -
                            <span class="credit" ng-if="loginCtrl.user().contactCredit < 999">
                                {{ loginCtrl.numberWithCommas(loginCtrl.user().contactCredit)}} Credit{{loginCtrl.user().contactCredit > 1 ? 's' : '' }}
                            </span>
                            <span class="blocklist__credit" ng-if="loginCtrl.user().contactCredit > 999">
                                <span class="credit">&#8734; Credits</span>
                            </span>
                        </p>
                        
                        <p class="status" ng-if="loginCtrl.isPublished() && loginCtrl.membership().membershipType.data.name == 'Gold' && !loginCtrl.trialVendor() && loginCtrl.membership().status == 'active' && loginCtrl.totalPoint()">
                            <span class="f-c-gold">Gold</span> -
                            <span class="credit" ng-if="loginCtrl.totalPoint()">{{ loginCtrl.numberWithCommas(loginCtrl.totalPoint()) }} Point{{loginCtrl.totalPoint() > 1 ? 's' : '' }}</span>
                        </p>

                        <p class="status" ng-if="loginCtrl.isPublished() && loginCtrl.membership().membershipType.data.name == 'Silver' && !loginCtrl.trialVendor() && loginCtrl.membership().status == 'active' && loginCtrl.totalPoint()">
                            <span class="f-c-silver">{{ trans('lang.plan_silver') }}</span> -
                            <span class="credit" ng-if="loginCtrl.totalPoint()">{{ loginCtrl.numberWithCommas(loginCtrl.totalPoint().total_point) }} Point{{ loginCtrl.totalPoint().total_point > 1 ? 's' : '' }}</span>
                        </p>

                        <p class="status" ng-if="loginCtrl.user().status == 0">
                            Unpublished
                        </p>

                        <p class="status" ng-if="loginCtrl.user().status == 3">
                            Inactive
                        </p>
                        <a class="link_dashboard" href="<%- baseUrl -%>/dashboard">GO TO MY DASHBOARD</a>
                    </div>   
                </div>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <% Object.keys(menu).forEach(function(key) { %>
                        <% if(key == active) { %>
                            <li class="nav-item">
                                <a class="nav-link active <%= menu[key].name %>" href="<%= menuUrl + menu[key].url %>"><%= menu[key].name %></a>
                            </li>
                        <% } else { %>
                            <li class="nav-item">
                                <% 
                                    var menuEvent = ''
                                    if(menu[key].name == 'Success Stories'){
                                        menuEvent = 'hp_success_stories';
                                    }
                                    if(menu[key].name == 'Pricing'){
                                        menuEvent = 'hp_pricing'
                                    }
                                    if(menu[key].name == 'Benefits'){
                                        menuEvent = 'hp_benefits'
                                    }
                                %>
                                <a class="nav-link <%= menu[key].name %> <%= menuEvent %>" data-key="<%= menuEvent %>" href="<%= menuUrl + menu[key].url %>"><%= menu[key].name %></a>
                            </li>
                        <% } %>
                    <% }); %>

                    <li class="nav-item">
                        <a class="nav-link blog hp_blog" href="https://business.bridestory.com/blog">Blog</a>
                    </li>
                </ul>

                <ul class="navbar-nav m-btm">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle toggle-<%- transId -%>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%- transId -%>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <% Object.keys(menu).forEach(function(key) { %>
                                <% if(key == active) { %>
                                    <a data-plan="hp_select_language_header" data-key="en" href="<%= baseUrl + menu[key].url%>" class="dropdown-item en hp_select_language_header" href="#" ng-click="langCtrl.setPreferredLang('en')">EN</a>
                                    <a data-plan="hp_select_language_header" data-key="id" href="<%= baseUrl + '/id' + menu[key].url%>" class="dropdown-item id hp_select_language_header" href="#" ng-click="langCtrl.setPreferredLang('id')">ID</a>
                                <% } %>
                            <% }); %>
                        </div>
                    </li>
                </ul>
                <footer class="container-fluid m-footer-menu">
                    <div class="container">
                        <div class="row top">
                            <div class="col-6 col-lg-2">
                                <h4 class="">BRIDESTORY</h4>
                                <ul>
                                    <li><a href="https://www.bridestory.com/about-us">About</a></li>
                                    <li><a href="https://careers.bridestory.com/">Careers</a></li>
                                    <li><a href="https://www.bridestory.com/contact-us">Contact</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-lg-2">
                                <h4 class="">BRIDES-TO-BE</h4>
                                <ul>
                                    <li><a href="https://www.bridestory.com/blog">Blog</a></li>
                                    <li><a href="https://www.bridestory.com/app">Bridestory App</a></li>
                                </ul>
                            </div>
                
                            <div class="col-lg-2 col-6">
                                <h4 class="">Business</h4>
                                <ul>
                                    <li><a href="https://business.bridestory.com/">Become a Vendor</a></li>
                                    <li><a href="https://business.bridestory.com/blog">Business Blog</a></li>
                                    <li><a href="https://business.bridestory.com/pro">Bridestory Pro</a></li>
                                </ul>
                            </div>
                
                            <div class="col-6 col-lg-2">
                                <h4 class="">Support</h4>
                                <ul>
                                    <li><a href="https://support.bridestory.com">Help Center</a></li>
                                </ul>
                            </div>
                
                            <div class="col-6 col-lg-2">
                                <h4 class="">Follow Us</h4>
                                <ul class="sosmed-footer">
                                    <li><a class="fb" href="https://www.facebook.com/thebridestory"></a></li>
                                    <li><a class="twt" href="https://twitter.com/TheBrideStory"></a></li>
                                    <li><a class="ig" href="https://www.instagram.com/thebridestory/"></a></li>
                                    <li><a class="pin" href="https://pinterest.com/thebridestory"></a></li>
                                </ul>
                            </div>
                
                            <div class="col-6 col-lg-2">
                                <h4 class="">Language</h4>
                                <div class="dropdown show">
                                    <a class="dropdown-toggle btn <%- transId -%>" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <%- transId -%>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <% Object.keys(menu).forEach(function(key) { %>
                                            <% if(key == active) { %>
                                                <a data-plan="hp_select_language_header" data-key="en"  href="<%= baseUrl + menu[key].url%>" class="dropdown-item en hp_select_language_header" href="#" ng-click="langCtrl.setPreferredLang('en')">EN</a>
                                                <a data-plan="hp_select_language_header" data-key="id" href="<%= baseUrl + '/id' + menu[key].url%>" class="dropdown-item id hp_select_language_header" href="#" ng-click="langCtrl.setPreferredLang('id')">ID</a>
                                            <% } %>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row btm">
                            <div class="col-lg-6">
                                <a href="https://www.bridestory.com/">
                                    <img class="footer-logo" src="<%- assetsUrl -%>/icons/footer_logo.png" alt="bridestory logo">
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><a href="https://business.bridestory.com/privacy-policy">privacy policy</a></li>
                                    <li><a href="https://business.bridestory.com/terms-conditions/vendor">terms and conditions</a></li>
                                    <li><a href="https://www.bridestory.com/sitemap">sitemap</a></li>
                                    <% var d = new Date(); var n = d.getFullYear(); %>
                                    <li><a href="">&copy; <%= n %> Bridestory all rights reserved</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>  
        </nav>
    </header>


    